@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;600&family=Poppins:wght@500&display=swap");

body {
  margin: 0;
}

p {
  font-family: "Lato";
}

.Typewriter__cursor {
  font-size: 2.5rem;
}
.Typewriter {
  margin-bottom: 15px;
}
